@model fantasydg.Models.TournamentInputView

@{
    ViewData["Title"] = "Tournament Input";
}


@if (TempData["Message"] != null)
{
    <div class="alert alert-info mt-3">
        @TempData["Message"]
    </div>
}

<h2>Add/Update Tournament</h2>

<form asp-action="Input" method="post">
    <div class="form-group mb-3">
        <label asp-for="TournamentId" class="form-label">Tournament ID</label>
        <input asp-for="TournamentId" class="form-control" placeholder="Find a five-digit ID in its PDGA Live URL." />
        <span asp-validation-for="TournamentId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@if (ViewBag.ErrorMessage != null)
{
    <div class="text-danger mt-2">@ViewBag.ErrorMessage</div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}