@model int

<a asp-controller="Account" asp-action="Notifications" class="nav-link d-flex align-items-center position-relative">
    <i class="bi bi-bell fs-5 align-middle"></i>
    @if (Model > 0)
    {
        <span class="position-absolute top-25 start-90 translate-middle badge rounded-pill bg-danger">
            @Model
            <span class="visually-hidden">notifications</span>
        </span>
    }
</a>