@model fantasydg.Models.Team

@{
    Layout = "_Layout";
    var teamId = ViewBag.TeamId as int?;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-auto p-0">
            <partial name="_LeagueTeamSidebar" model="(ViewBag.LeagueName as string, Model.LeagueId, ViewBag.TeamId as int?)" />
        </div>

        <div class="col pt-3">
            <h2>@Model.Name</h2>
            <hr style="width: 100%; margin: 1.5rem auto; border-top: 2px solid #444;" />

            <h3>Players:</h3>
            <ul>
                @foreach (var tp in Model.TeamPlayers)
                {
                    <li>@tp.Player.Name</li>
                }
            </ul>
        </div>
    </div>
</div>